section.feedback
	.feedback__title 
		span УЧАВСТВОВАТЬ
			img(src="images/feedback/square-top-left.png", alt="alt").feedback__square-top-left
	.feedback__container 
		img(src="images/feedback/square-top-right.png", alt="alt").feedback__square-top-right
		img(src="images/feedback/square-bottom-left.png", alt="alt").feedback__square-bottom-left
		form.feedback__form(action="") 
			.feedback__fields
				.feedback__field 
					input(type="text" placeholder="Имя*").feedback__input
				.feedback__field 
					input(type="email" placeholder="Email*").feedback__input
				.feedback__field 
					input(type="text" placeholder="Дизайн-студия").feedback__input
				.feedback__field 
					input(type="text" placeholder="Город*").feedback__input
				.feedback__field 
					input(type="text" placeholder="Ссылка на фото*").feedback__input
				.feedback__field 
					input(type="text" placeholder="Описание работы*").feedback__input
			button(type='submit').feedback__btn подать заявку