section.hero 
	.hero__container.container
		img(src="images/hero/hero-build.png", alt="alt").hero__image.hero__image-build.desk
		img(src="images/hero/hero-build-mob.png", alt="alt").hero__image.hero__image-build.mob
		img(src="images/hero/hero-lines.png", alt="alt").hero__image.hero__image-lines
		h1.hero__title 
			span.white-color 200 
			span.yellow-color BEST 
			br
			span.red-color IN RUSSIA 
			span.blue-color 2023
		p.hero__text 
			|Mydecor представляет всероссийский рейтинг 
			br
			|архитекторов и дизайнеров интерьера 200 Best In Russia 2023.