section.nominations
	.container
		.nominations__text-purpose Цель проекта — создать универсальную площадку, где профессионалы из разных уголков нашей страны смогут представить свои проекты. Выбрать лучшие работы и собрать лучших дизайнеров и архитекторов, которые войдут в золотой фонд российской интерьерной индустрии.
		.nominations__container 
			.nominations__body 
				.nominations__title Победители будут определяться в двух номинациях:
				ul.nominations__list
					li.nominations__item 
						svg(xmlns='http://www.w3.org/2000/svg' width='48' height='41' viewBox='0 0 48 41' fill='none').nominations__icon-triangle
							path(d='M47.2654 0.382687L23.8827 40.8827L0.500007 0.382684L47.2654 0.382687Z' fill='#F2B604')
						span Выбор жюри
					li.nominations__item 
						svg(xmlns='http://www.w3.org/2000/svg' width='52' height='60' viewBox='0 0 52 60' fill='none').nominations__icon-star
							path(d='M26 0L31.7295 20.0762L51.9808 15L37.459 30L51.9808 45L31.7295 39.9238L26 60L20.2705 39.9238L0.0192375 45L14.541 30L0.0192375 15L20.2705 20.0762L26 0Z' fill='#1A56A5')
						span Выбор читателей по результатам голосования на сайте
				.nominations__text 
					|Лучшие проекты будут опубликованы на сайте 
					a(href="http://www.mydecor.ru/") www.mydecor.ru