header.header
	.header__container.container
		.header__row 
			.header__logos 
				.header__logo 
					img(src="images/logo.png", alt="alt")
					span ВСЕРОССИЙСКИЙ РЕЙТИНГ АРХИТЕКТОРОВ И ДИЗАЙНЕРОВ ИНТЕРЬЕРА
				.header__logo-mydecor 
					img(src="images/logo-mydecor.png", alt="alt")
			.header__btns.desk 
				a.header__btn.header__btn--yellow(href="") о рейтинге
				a.header__btn.header__btn--red(href="") учавствовать
				a.header__btn.header__btn--blue(href="") галерея работ
			img(src="images/header-icon-circle.png", alt="alt").header__icon-circle.desk
			.header__burger
				svg(width='63' height='52' viewBox='0 0 63 52' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M0 0H63V12H0V0ZM0 20H63V32H0V20ZM0 40H63V52H0V40Z' fill='#F2B604')

		.header__popup 
			.header__popup-container
				.header__popup-close
					svg(width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M27 21.1084L47.625 0.483398L53.5208 6.37923L32.8958 27.0042L53.5208 47.6292L47.625 53.5209L27 32.8959L6.37499 53.5209L0.487488 47.6251L21.1125 27.0001L0.487488 6.37507L6.37499 0.491731L27 21.1167V21.1084Z' fill='#F70042')
				.header__logos 
					.header__logo 
						img(src="images/logo.png", alt="alt")
						span ВСЕРОССИЙСКИЙ РЕЙТИНГ АРХИТЕКТОРОВ И ДИЗАЙНЕРОВ ИНТЕРЬЕРА
					.header__logo-mydecor 
						img(src="images/logo-mydecor.png", alt="alt")
				.header__btns 
					a.header__btn.header__btn--yellow(href="") о рейтинге
					a.header__btn.header__btn--red(href="") учавствовать
					a.header__btn.header__btn--blue(href="") галерея работ
				img(src="images/header-icon-circle.png", alt="alt").header__icon-circle