extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../blocks/hero
	include ../blocks/nominations
	include ../blocks/feedback
	include ../blocks/gallary