@font-face {
	font-family: Miratrix;
	src: url('../fonts/Miratrix_Normal/Miratrix_Normal.eot');
	src: local('Miratrix_Normal'), local('../fonts/Miratrix_Normal/Miratrix_Normal'),
		url('../fonts/Miratrix_Normal/Miratrix_Normal.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Miratrix_Normal/Miratrix_Normal.woff') format('woff'),
		url('../fonts/Miratrix_Normal/Miratrix_Normal.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}